h1 {
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.bird-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px;
}/*# sourceMappingURL=bird-list.component.css.map */