<h1>AVES DE ESPAÑA</h1>

<div class="filter">

    <input 
        placeholder="Filtra por nombre" 
        name="filter" 
        type="text" 
        [(ngModel)]="birdCommonName"
    />


</div>

<div class="bird-list">
    <app-bird
        
        *ngFor="let bird of birds | filter:birdCommonName"
        [bird]="bird"
        (onRemove)="removeBirdFromList(bird.id)">

    </app-bird>
</div>





