h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.bird-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
}

.filter {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.filter input{
    width: 240px;
    height: 35px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}