.detail {
    height: 620px;
    width: 900px;
    display: flex;
    margin: auto;
    border-radius: 7px;
    box-shadow: 0px 14px 32px 0px rgb(65, 59, 59);
    overflow: hidden;
    box-sizing: border-box;

    &__img {
        width: 50%;
        display: flex;
        align-items: center;
 
    }

    &__img img {
        width: 100%;
    }

    &__info {
        margin-top: 30px;
        width: 50%;
        border-radius: 0 7px 10px 7px;
        
    }
}


