<div
    *ngIf="bird"
    class="detail">

    <div class="detail__img">
        <img [src]="bird.img">
    </div>

   <div class="detail__info">
        <app-clasification
            [bird]="bird">
        </app-clasification>

        <app-description
            [bird]="bird">
        </app-description>

        <app-other-info
            [bird]="bird">
        </app-other-info>
   </div>



</div>

