<div
    *ngIf="bird"
    class="description"
>
    <p class="description__redList">Lista roja UICN: {{ bird.redList }}</p>
    <p class="description__description">Descripción: {{ bird.description }}</p>
    <p class="description__food">Alimentación: {{ bird.food}}</p>
</div>
