p {
  text-align: center;
  font-size: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

img {
  display: block;
  margin: auto;
}/*# sourceMappingURL=not-found.component.css.map */