.header {
    height: 80px;
    background-color: rgba(173, 84, 146, 0.5);
    padding: 1em;
    font-size: 20px;
    top: 100vh;
    left: 0;
    transition: opacity .2s ease-in-out;
    text-align: center;
}

.header__link {
    display: inline-block;
    outline: none;
    text-decoration: none;
    opacity: .7;
    padding: 0 .5em;
    color: black;
    transition: opacity .2s ease-in-out;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav a:hover,
nav a:focus {
  opacity: 1;
}