<div class="header">

    <nav>
        <a
        class="header__link"
        [routerLink]="['home']"
    >Home |</a>
    
        <a
            class="header__link"
            [routerLink]="['bird-list']"
        >Listados de aves |</a>

        <a
            class="header__link"
            [routerLink]="['create-bird']"
        >Añade avistamiento |</a>

        <a
            class="header__link"
            [routerLink]="['my-creations']"
        >Nuevos avistamientos |</a>

        <a
            class="header__link"
            [routerLink]="['about-me']"
        >About me</a>
    </nav>

    <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
    </div>
    
</div>
