section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    width: 100%;
}

.form-box {
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: rgb(65, 59, 59);
    text-align: center;
    padding: 0 0 20px 0;
}

.form {
    margin-top: 200px;

    &__input {
        height: 24px;
        border: 1px solid  rgba(173, 84, 146, 0.5);
        border-radius: 3px;
        width: 100%;
    }

    &__select {
        height: 24px;
        width: 100%;
        border: 1px solid  rgba(173, 84, 146, 0.5);
    }

    &__button {
        width: 200px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        display: inline-block;
        font-size: 15px;
        padding: 5px 5px;
        margin-left: 5px;
        margin-top: 3px;
        margin-bottom: 7px;
        background-color: rgba(173, 84, 146, 0.5);
        color: rgb(65, 59, 59);
        border-radius: 4px;
        border: none;
        cursor: pointer;
        position: relative;
        box-shadow: 0 2px 25px rgba(77, 63, 70, 0.5);
    }

    &__textarea {
        height: 100px;
        width: 100%;
    }
}

.field-container {
    display: block;
    flex: 45%;
    margin-bottom: 32px;
    margin-right: 30px;
}

.input-error {
    color: rgb(185, 62, 62);
    font-weight: bold;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.img__container {
    width: 300px;
    height: 300px;
    margin: auto;
    background-position: center;
    background-size: 100%;
}
