<section>
    <div class="form-box">
        <div class="form-value">
            <form
                *ngIf="birdForm"
                (submit)="createNewBird"
                [formGroup]="birdForm"
                class="form">
                <h2>Rellena los datos</h2>

                <div class="field-container">
                    <input
                        class="form__input"
                        placeholder="Familia"
                        name="family"
                        formControlName="family"
                    >
                    <p
                        *ngIf="!birdForm.get('family')?.valid 
                            && birdForm.get('family')?.touched
                            && birdForm.get('family')?.errors?.['required']"
                        class="input-error"
                    >Rellene este campo</p>
                </div>

                <div class="field-container">
                    <input
                        class="form__input"
                        placeholder="Nombre científico"
                        name="binomailName"
                        formControlName="binomialName"
                    >
                    <p
                        *ngIf="!birdForm.get('binomialName')?.valid
                            && birdForm.get('binomialName')?.touched
                            && birdForm.get('binomialName')?.errors?.['required']"
                        class="input-error"
                    >Rellene este campo</p>
                </div>

                <div class="field-container">
                    <input
                        class="form__input"
                        placeholder="Nombre común"
                        name="commonName"
                        formControlName="commonName"
                    >
                    <p
                        *ngIf="!birdForm.get('commonName')?.valid
                            && birdForm.get('commonName')?.touched
                            && birdForm.get('commonName')?.errors?.['required']"
                        class="input-error"
                    >Rellene este campo</p>
                </div>

                <div class="field-container">
                    <textarea
                        class="form__textarea"
                        placeholder="Descripción"
                        name="description"
                        formControlName="description"
                    ></textarea>
                    <p
                        *ngIf="!birdForm.get('description')?.valid
                            && birdForm.get('description')?.touched
                            && birdForm.get('description')?.errors?.['minlength']"
                        class="input-error"
                    >Escriba más de 60 caracteres</p>
                    <p
                        *ngIf="!birdForm.get('description')?.valid
                            && birdForm.get('description')?.touched
                            && birdForm.get('description')?.errors?.['required']"
                        class="input-error"
                    >Rellene este campo</p>
                </div>

                <div class="field-container">
                    <input
                        class="form__input"
                        placeholder="Alimento"
                        name="food"
                        formControlName="food"
                    >
                    <p
                        *ngIf="!birdForm.get('food')?.valid
                            && birdForm.get('food')?.touched
                            && birdForm.get('food')?.errors?.['required']"
                        class="input-error"
                    >Rellene este campo</p>
                </div>

                <div class="field-container">
                    <input
                        class="form__input"
                        placeholder="Categoría"
                        name="redList"
                        formControlName="redList"
                    >
                    <p
                        *ngIf="!birdForm.get('redList')?.valid
                            && birdForm.get('redList')?.touched
                            && birdForm.get('redList')?.errors?.['required']"
                            class="input-error"
                    >Rellene este campo</p>
                </div>

                <div class="field-container">
                    <select
                        class="form__select"
                        name="nationalPark"
                        formControlName="seen"
                    >
                        <option
                            *ngFor="let park of parks"
                            [value]="park"
                        >{{ park }}</option>
                    </select>
                    <p
                        *ngIf="!birdForm.get('seen')?.valid
                            && birdForm.get('seen')?.touched
                            && birdForm.get('seen')?.errors?.['required']"
                        class="input-error"
                    >Rellene este campo</p>
                </div>

                <div class="field-container">
                    <input
                        class="form__input"
                        type="text"
                        formControlName="img"
                    >
                    <p
                        *ngIf="!birdForm.get('img')?.valid
                            && birdForm.get('img')?.touched
                            && birdForm.get('img')?.errors?.['required']"
                        class="input-error"
                    >Adjunte una imagen</p>
                </div>

                <button
                    (click)="createNewBird()"
                    class="form__button"
                    type="submit"
                    [disabled]="!birdForm.valid">
                    {{ canEdit ? 'Editar avistamiento' : 'Crear avistamiento' }}
                </button>
            </form>
        </div>
    </div>
</section>




<div class="img__container"></div>

