.clasification {
    padding: 10px 5px 5px 10px;
    color: rgba(85, 71, 71, 0.845);

    &__binomialName {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
    }

    &__family {
        font-size: 25px;
    }

    &__commonName {
        font-size: 20px;
    }
}