<div
    *ngIf="bird"
    class="clasification"
>
    <p class="clasification__binomialName">Nombre científico: {{ bird.binomialName }}</p>
    <p class="clasification__family">Familia: {{ bird.family }}</p>
    <p class="clasification__commonName">Nombre común: {{ bird.commonName}}</p>
    
</div>
