<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="home">
    <div class="home__text">
        <h1>La importancia de las <br> aves</h1>
        <span> 
            <p>Las consecuencias ecológicas de la disminución de las poblaciones de aves, síntoma a su vez de la degradación de sus hábitats, podría tener impactos sociales derivados de la extinción de plantas, de la falta de control de plagas agrícolas o de la propagación de enfermedades. Ayúdanos a cuidar de ellas y coopera registrando nuevos avistamientos.</p>
     </span>
    </div>
    
    <img src="https://pbs.twimg.com/media/DfsNlH1UYAAZklm.jpg">
</div>


    
