* {
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    }

.home h1 {
    font-size: 30px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 24px;
    margin-bottom: 15px;
    color: rgb(65, 59, 59);
}

.home p {
    font-size: 20px;
    color: #6a7199;
}



.home img {
    height: 200px;
    margin-left: 10px;
    margin-bottom: 5%;

}


@media screen and (min-width:900px) {
    .home h1 {
        font-size: 60px;
    }

    .home p {
        font-size: 30px;
    }

    .home span {
    display: inline-flex;
    width: 800px;
    }   

    .home img {
        height: 500px;
        margin-left: 200px;
        margin-bottom: 5%;

    }
}




