<div class="footer">
    <nav>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/almudena-monserrat-polo-b2b732a8/">Almudena Monserrat Polo</a>
            </li>
            <li>
                <a href="https://seo.org/">SEOBirdLife</a>
            </li>
            <li>
                <a href="https://www.iucn.org/es">UICN</a>
            </li>
        </ul>
    </nav>

</div>
