.footer {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(65, 59, 59);
    font-size: 16px;
    font-weight: bold;

}

