:hots {
  display: block;
  margin: auto;
  margin-top: 64px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.form {
  margin-top: 40px;
  padding: 24px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 20px;
}
.form__input {
  padding: 4px;
  height: 24px;
  border: 1px solid rgba(173, 84, 146, 0.5);
  border-radius: 3px;
  width: 100%;
}
.form__select {
  height: 32px;
  width: 100%;
  border: 1px solid rgba(173, 84, 146, 0.5);
}
.form__button {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: inline-block;
  font-size: 15px;
  padding: 5px 5px;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 7px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(173, 84, 146, 0.5);
  color: rgb(65, 59, 59);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 25px rgba(77, 63, 70, 0.5);
}

.field-container {
  display: block;
  flex: 45%;
  margin-bottom: 32px;
  margin-right: 30px;
}

.input-error {
  color: rgb(185, 62, 62);
  font-weight: bold;
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.img__container {
  width: 300px;
  height: 300px;
  margin: auto;
  background-position: center;
  background-size: 100%;
}/*# sourceMappingURL=create-bird.component.css.map */