
<div
    *ngIf="bird"
    class="bird"
>
    <img class="bird__img" [src]="bird.img">
    <div>
        <h3 class="bird__commonName"> {{ bird.commonName }} </h3>
        <p class="bird__binomialName"> {{ bird.binomialName }} </p>
    </div>
    <div class="bird__content">

        <button 
            (click)="navigateToDetail()"
            class="bird__button">Más info</button>
 
        <button 
            (click)="removeBird()"
            class="bird__button">Eliminar</button>
   
        <button 
            (click)="editBird()"
            class="bird__button">Editar</button>

    </div>
    