<h1>AVES DE ESPAÑA</h1>

<div class="filter">
    <input
        placeholder="Filtra por nombre"
        name="filter"
        type="text"
        [(ngModel)]="birdCommonName" />
</div>

<div class="newBird-list">
    <app-creation
        *ngFor="let bird of birds |
        filter:birdCommonName"
        [bird]="bird"
        (onRemove)="removeNewBirdFromList(bird.id)"
    >
    </app-creation>
</div>



