* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    height: 100vh;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-rosa-pastel-estetico-cielo-arcoiris-diseno-brillo_53876-156332.jpg?w=2000');
    background-size: cover;
    background-position: center;

}
