.bird {
  width: 260px;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f6c7c7;
  cursor: default;
  transition: all 400ms ease;
}
.bird__img {
  width: 100%;
  height: 210px;
}
.bird__commonName {
  margin: 1px;
  text-align: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(65, 59, 59);
}
.bird__binomialName {
  text-align: center;
  margin: 1px;
  font: oblique 100% cursive;
  color: rgb(65, 59, 59);
}
.bird__button {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: inline-block;
  font-size: 15px;
  padding: 5px 5px;
  margin-left: 5px;
  margin-top: 3px;
  margin-bottom: 7px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(173, 84, 146, 0.5);
  color: rgb(65, 59, 59);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 2px 25px rgba(77, 63, 70, 0.5);
}

.bird:hover {
  box-shadow: 5px, 5px, 20px, rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.img-area {
  background-image: url(https://elviajerofeliz.com/wp-content/uploads/2019/08/10-Parques-Nacionales-de-Espa%C3%B1a-Caba%C3%B1eros.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}/*# sourceMappingURL=bird.component.css.map */