<div
    *ngIf="bird"
    class="detail">

    <div class="detail__img">
        <img [src]="bird.img">
    </div>

    <div class="detail__info">
        <div class="clasification">
            <p class="clasification__binomialName">Nombre científico: {{ bird.binomialName }}</p>
            <p class="clasification__family">Familia: {{ bird.family }}</p>
            <p class="clasification__commonName">Nombre común: {{ bird.commonName}}</p>
        </div>

        <div class="description">
            <p class="description__redList">Lista roja UICN: {{ bird.redList }}</p>
            <p class="description__description">Descripción: {{ bird.description }}</p>
            <p class="description__food">Alimentación: {{ bird.food}}</p>
        </div>

        <div class="other-info">
            <p>Presente en el {{ bird.seen.name }}, que fue declarado en {{ bird.seen.declarationYear }}</p>
            <p>Situado en la C.A. de {{ bird.seen.autonomousCommunity }} y provincia de {{ bird.seen.province }}</p> 
        </div>
        
        
        
    </div>





</div>