<div
    *ngIf="bird"
    class="other-info"
>
    <p>Presente en el {{ bird.seen.name }}, que fue declarado en {{ bird.seen.declarationYear }}</p>
    <p>Situado en la C.A. de {{ bird.seen.autonomousCommunity }} y provincia de {{ bird.seen.province }}</p> 
</div>



