<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="about-me">
    <div class="about-me__hi">
        <h2>Hola!</h2>
    </div>

    <div class="about-me__info">
        <h1>Soy Almudena</h1>
        <p>Siempre he sentido una vocación especial hacia el medio natural y todo lo que lo conforma, por eso estudié Ingeniería de Montes.</p>
        <p>Con esta página quería dar a conocer algunos datos sobre una pequeña parte de la población de aves que existen en España.</p>
    </div>
    
</div>




