@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;

    &__hi {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        font-family: 'Shantell Sans', cursive;
        font-size: 60px;
        color: rgba(173, 84, 146, 0.74);
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding: 0 80px 0 10px;
        color: rgb(80, 60, 60);    
    }
}

h1 {
    padding-bottom: 50px;
}

@media screen and (min-width:950px) {
    h2 {
        font-size: 150px;
    }

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 30px;
    }
}



